<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="layouts/main :: htmlhead"></head>

<body>

<div th:replace="layouts/main :: navigation"></div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5" th:text="${user.id} ? 'ИЗМЕНЕНИЕ' : 'СОЗДАНИЕ'"></h1>
        </div>
    </div>
</div>

<div class="container">
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <input type="hidden" th:field="*{id}" th:value="*{getId()}">
        <div class="border rounded p-3">

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" th:field="*{firstName}"
                           th:value="*{getFirstName()}"
                           placeholder="Имя" required>
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" id="last_name" th:field="*{lastName}"
                           th:value="*{getLastName()}" placeholder="Фамилия">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}" th:value="*{getEmail()}"
                           placeholder="E-mail" required>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"
                           th:value="*{getPassword()}" placeholder="Пароль" required>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>
            </div>

            <label>Роли</label>
            <br>
            <div class="btn-group" data-toggle="buttons">
                <th:block th:each="role, iter : ${allRoles}">
                    <label class="btn btn-light border-dark">
                        <input type="checkbox" name="roles" th:value="${role.id}" th:field="*{roles}"
                               th:checked="${user.getRoles() != null and user.getRoles().contains(role)}">
                        <span th:text="${role.description}"></span>
                    </label>
                    <span th:if="${!iter.last}">&nbsp;</span>
                </th:block>
            </div>
        </div>
        <br>

        <button class="btn btn-secondary btn-light border-dark" type="submit">
            <img src="/img/confirm.png" alt="Confirm" width="25" height="25"
                 style="vertical-align: middle; margin-right: 5px;">
            <span th:text="*{getId()} ? 'Изменить' : 'Создать'"></span>
        </button>

        <a class="btn btn-light border-dark" href="/users">
            <img src="/img/cancel.png" alt="Cancel" width="25" height="25"
                 style="vertical-align: middle; margin-right: 5px;">
            Отмена
        </a>
    </form>
</div>

</body>
</html>
