<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="layouts/main :: htmlhead"/>
<body>

<nav th:replace="layouts/main :: navigation"/>

<div class="container pt-4">
    <div class="row d-flex justify-content-center">
        <div class="col-auto">
            <div class="jumbotron">
                <h1 class="display-4">ITM PP 3.1.3</h1>
                <p class="lead">Spring Security</p>
                <hr class="my-4"/>

                <th:block sec:authorize="!isAuthenticated()">
                    <th:block th:if="!${authenticationName}">
                        <p>Первый старт с данными - <b>admin@nikak.net : admin</b></p>
                        <hr class="my-4"/>
                    </th:block>
                </th:block>

                <th:block sec:authorize="isAuthenticated()">
                    <p><b> Вы вошли как:</b> <span sec:authentication="name"></span></p>
                    <hr class="my-4"/>
                    <p><a type="button" th:href="@{/logout}" class="btn btn-secondary bg-secondary text-white">Выход</a>
                    </p>
                </th:block>

                <th:block th:if="${authenticationName}">
                    <p class="font-weight-bold" th:text="|Досвидания, ${authenticationName}!|"/>
                    <hr class="my-4"/>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <p>Авторизуйтесь</p>
                    <form th:method="POST" th:action="@{/}">
                        <div class="form-row">
                            <div class="col-6 mb-3">
                                <input type="text" class="form-control" name="email"
                                       th:value="${authenticationException.getEmail()}" placeholder="Электронная почта"
                                       autofocus="autofocus" required>
                            </div>
                            <div class="col-6 mb-3">
                                <input type="password" class="form-control" name="password"
                                       th:value="${authenticationException.getPassword()}" placeholder="Пароль"
                                       required>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center form-row">
                            <div class="mr-3">
                                <button type="submit" class="btn btn-secondary">Войти</button>
                            </div>
                            <div th:if="${authenticationException.getMessage()}" class="alert alert-danger mb-0"
                                 role="alert" th:text="${authenticationException.getMessage()}"/>
                        </div>
                    </form>
                </th:block>
            </div>
        </div>
    </div>
</div>

</body>
</html>
