<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="layouts/main :: htmlhead"/>

<body>

<div th:replace="layouts/main :: navigation"/>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="mt-5">ПОЛЬЗОВАТЕЛИ</h1>
        </div>
    </div>
</div>

<div class="container" th:remove="${users.size() == 0} ? all">
    <div class="row p-3 mb-2 bg-dark text-white">
        <div class="col">Имя</div>
        <div class="col">Фамилия</div>
        <div class="col text-center">E-mail</div>
        <div class="col text-center">Действия</div>
    </div>

    <div th:each="user,rowStat : ${users}" class="d-flex align-items-center row p-2 mb-2"
         th:classappend="${rowStat.count % 2 != 0 ? 'bg-light text-dark' : 'bg-secondary text-white'}">
        <div class="col font-weight-bold" th:text="${user.getFirstName()}"/>
        <div class="col" th:text="${user.getLastName()}"/>
        <div class="col text-center" th:text="${user.getEmail()}"/>
        <div class="col text-center">
            <a type="button" th:href="@{/admin/edit/{id}(id=${user.getId()})}" class="btn btn-secondary"
               th:classappend="${rowStat.count % 2 == 0 ? 'bg-light text-dark' : 'bg-secondary text-white'}">
                <img src="/img/edit.png" alt="Edit" width="25" height="25"
                     style="vertical-align: middle; margin-right: 1px;">
                Изменить
            </a>

            <a type="button" th:href="@{/admin/delete(id=${user.getId()})}" class="btn btn-secondary"
               th:classappend="${rowStat.count % 2 == 0 ? 'bg-light text-dark' : 'bg-secondary text-white'}"
               onclick="return confirm('Вы уверены, что хотите удалить пользователя?')">
                <img src="/img/delete.png" alt="Delete" width="25" height="25"
                     style="vertical-align: middle; margin-right:1px;">
                Удалить
            </a>

        </div>
    </div>
</div>

</body>
</html>
